<div *ngIf="song" class="absolute bottom-16 w-full z-10">
  <div class="max-w-lg mx-auto">
    <audio [src]="song.src" controls autoplay hidden="true" (timeupdate)="onAudioTimeupdate($event)"
      (loadedmetadata)="onAudioMetadataLoaded($event)"
      (play)="onPlay($event)"
      (pause)="onPause($event)"
      #audio></audio>

    <div class="h-1 bg-white"></div>
    <div class="flex justify-between items-center">
      <div class="text-white">{{starttime}}</div>
      <div class="flex justify-center gap-10 items-center mt-4">
        <button>
          <fa-icon [icon]="faBackward" class="text-white" size="lg"></fa-icon>
  
        </button>
        <button (click)="togglePlayPause()" class="w-3 h-3 flex justify-center items-center">
          <fa-icon [icon]="paused ? faPlay : faPause" class="text-white" size="2x"></fa-icon>
        </button>
        <button>
          <fa-icon [icon]="faForward" class="text-white" size="lg"></fa-icon>
  
        </button>
      </div>
      <div class="text-white">{{endtime}}</div>
    </div>
  </div>
</div>